/* Import Lynx HTML Renderer CSS */
@import "lynx-html-renderer/dist/styles.css";

:root {
  background-color: #fff;
}

.container {
  display: flex;
  flex-direction: column;
  padding-top: 50px;
  height: 100vh;
}
